In [1]:
import pandas as pd

import os

In [2]:
# Read the data into a Pandas DataFrame

filepath = os.path.join("crowdfunding.xls")

crowdfunding_data = pd.ExcelFile(filepath)
# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
#sample the crowdfunding_info_df dataframe

crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
723,2280,Beck-Knight,Exclusive fresh-thinking model,4900,13250,successful,144,AU,AUD,1605506400,1631595600,False,False,theater/plays
167,557,Cruz-Ward,Robust content-based emulation,2600,10804,successful,146,AU,AUD,1617253200,1634619600,False,False,theater/plays
346,116,Little-Marsh,Virtual attitude-oriented migration,8000,2758,failed,25,US,USD,1633582800,1640671200,False,True,music/indie rock
365,53,"Lucas, Hall and Bonilla",Networked bottom-line initiative,1600,11735,successful,112,AU,AUD,1627102800,1631336400,False,False,theater/plays
483,2790,Rice-Parker,Down-sized actuating infrastructure,91400,48236,failed,554,US,USD,1591160400,1621054800,False,False,theater/plays

In [5]:
# Read the contact_info worksheet into a new dataframe with the following code

# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [37]:
#sample the contact_info_df dataframe

contact_info_df.sample(n=5)

                                                                                           contact_info
535                   {"contact_id": 3481, "name": "April Davids", "email": "april.davids@fisher.info"}
708             {"contact_id": 5946, "name": "Gilbert Cornejo", "email": "gilbert.cornejo@hotmail.com"}
637  {"contact_id": 6179, "name": "Katherina Barrientos", "email": "katherina.barrientos@trobbiani.eu"}
503  {"contact_id": 4883, "name": "Luciana Petitjean", "email": "luciana.petitjean@patterson-cole.biz"}
982                   {"contact_id": 4997, "name": "Grace Kroker", "email": "grace.kroker@hotmail.com"}

In [38]:
# Get a brief summary of the crowdfunding_info DataFrame. 
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [39]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [40]:
# from using the info() function, we find that no non-null values exist

In [41]:
# use list comprehension to loop through the pandas dataframe columns and include only the columns that match
# a certain criteria

# example or wiki data

# wiki_movies = [movie for movie in wiki_movies_raw
#                 if ('Director' in value or 'Directed by' in movie)
#                    and 'imdb_link' in movie
#                    and 'No. of episodes' not in movie]

# wiki_df = pd.DataFrame(wiki_movies)

# its better to define a function that can iterate through every column and see if it needs to be removed

In [7]:
crowdfunding_info_df

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [6]:
# 8.3.3 continued...

# begin inspecting the 'category &subcategory' column
# Get the unique values in the category & sub-category column. 
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [ ]:
#lets make a plan to clean the 'cateogry and subcateogry' column

#we can split the values in this column and add the values to new columns: crowdfunding_info_df['cateogry'] and crowdfunding_info_df['subcategory']

# we're gonna make one split on the forward slash line

In [8]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(10)

# in the split function, the number of splits is n and its set equal to 1 (n=1)

#the expand = True parameter is required to finalize the column split and send the data to the new columns

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [9]:
# we want to create a unique identifier for each category and subcategory column

# to do this, you need to use the .nunique() function on a dataframe column.
# nunique function will return the number of unique values in that column

# Get the distinct values in the category and subcategory columns.
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

# we can see the unique values in the category column is 9
# the unique values in the subcategory column is 24

9
24

In [10]:
# Now create the category and subcategory dataframes

# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

# this will make lists of all the categories and subcategories, every element in each list will become the column header name and column of a new dataframe

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [12]:
#Lets create two NumPy arrays that have unique numbers. One array for categories and one array for subcategories.

# Import the Numpy dependency
import numpy as np
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [13]:
category_ids

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
subcategory_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [ ]:
# to make a unique identifier, we will add string "cat0" to each number in the category_ids list
# and we'll add a string "scat0" to each number in the subcategory_ids list.